#main{
  background-color: #d6d6d6;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

#title{
  text-align: center;
  margin-bottom: 50px;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 1.2rem;
  font-weight: lighter;
}

#img-div{
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 16px;
}

#image{
  max-width: 100%;
  height: auto;
}

#img-caption{
  font-size: 12pt;
  font-weight: lighter;
  margin: 20px 20px;

}

.text{
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}


ul{
    max-width:40rem;
    margin: auto;
    text-align: justify;
    display: block;
    margin: 40px auto;
    font-size: 14pt;
}

li{
  padding: 10px 0;
  letter-spacing: 1px;
}

p{
  margin: 50px 16px 10px 16px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;

}
